DIEZMOS_TESORERO_EMAIL=robertoperezparedes@gmail.com
DIEZMOS_SENDER_EMAIL=tu-correo@gmail.com
DIEZMOS_SENDER_PASSWORD=tu-app-password
DIEZMOS_SMTP_SERVER=smtp.gmail.com
DIEZMOS_SMTP_PORT=587
DIEZMOS_SMTP_USE_SSL=false
